


        *{  
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Courier New', Courier, monospace;
            max-height: 680px;
        }

        
         .card-container{
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        
        } 
        header{
            flex: 0 0 80px;
            padding: 20px;
            display: flex;
            /* header/top color */
            background-color:#5681ab; 
            color: white;
            text-shadow: 1px 1px 3px rgb(0, 0, 0);
            font-size: 24px;
        }
        
        main{   
            display: flex;
            flex-wrap: wrap;
            background-color: #42494d;
            /* color for the main portion */
        }
         aside{
            flex: 0 1 150px;
            display: flex;
            background-color:#5681ab; 
           /*  color for the side */
        }
        #section{
            flex: 1 1 200px;
            display: flex;
            flex-direction: column;
            background-color: #c7cbcd;
            padding: 30px;
        }

        #intro{
            flex-direction: column;
            display: flex;
            width: auto;
            font-size: 30px;
            margin: auto;
            padding: 10px;
            
        }
         #intro p{
            flex-direction: column;
            display: flex;
            width: auto;
            font-size: 30px;
            margin-left: 35px;
            padding: 10px;
            
        }
        
        .nav{
            height: 100vh;
            width: 200px;
            display: flex;
            border-radius: 10px;
            color: white;
            flex-direction: column;
            
        }
        .nav-info{
          
            width:200px;
            height:50px;
            color: white;
            display: flex;  
            padding:20px; 
            font-size: 20px; 
            text-decoration: none;     
        }
        .nav-info:hover{
         text-shadow: 1px 1px 3px rgb(0, 0, 0);
        background: linear-gradient(to right, #5681ab,#5681ab, #c7cbcd); 
        /* box-shadow: 5px 10px 5px #c7cbcd;
        box-shadow: inset 0px 5px 5px #c7cbcd;*/
        } 
        .card{
            width: 350px;
            height: 250px;
            margin: auto;
            padding: 15px;
            flex-direction: column;
            display: flex;
            justify-content: center;
            background-color: #F8F8F9;
            border-radius: 10px;
            box-shadow: 2px 2px 15px rgba(31, 31, 31, 0.2);
            margin-bottom: 100px;
        }
        
        .card p{
            margin-top: 5px;
            color: grey;
        }
       
        .card:hover{
            box-shadow: 5px 5px 5px black;
        }
    
         footer{
            
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:#5681ab;
            color: white;
            height: 50px;
        }


        