body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #74ebd5, #9face6);
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#display{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    background-color: #f8f9fa;
    box-shadow: inset 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    border: none;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

button:nth-child(n){
    background-color: #4a5568;
}

button:nth-child(4n){
    background-color: #ed8936;
}

button:nth-child(14){
    background-color: #f56656;
}

button:nth-child(15){
    background-color: #48bb78;
}

button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}